services:
  ecommerce_backend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: ecommerce_backend
    ports:
      - "4000:3000"
    environment:
      - NODE_ENV=development
      - WATCHPACK_POLLING=true
      - DATABASE_URL=postgresql://lephuocthang_psql:thangle1710@ecommerce_db:5432/e_commerce?schema=public
    develop:
      watch:
        - action: sync
          path: .
          target: /usr/src/app
          ignore:
            - node_modules/
        - action: rebuild
          path: package.json
    depends_on:
      ecommerce_db:
        condition: service_healthy
    networks:
      - ecommerce_net